name: Test, Build, and Deploy | Modul 01 - Lab2.2 Senior Project

on:
  push:
    branches: [main]

jobs:
  test-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v4
      - name: Testing Build pre-Deploy
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - run : npm i

      - run : npm run build

  deploy: 
    needs: test-build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Build app on VM
        uses: appleboy/ssh-action@master
        with:
          host : ${{ secrets.HOST }}
          username : ${{ secrets.USERNAME }}
          key : ${{ secrets.KEY }}
          port : ${{ secrets.PORT }}
          script : |
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/<<>>
            echo "Cek Folder PROJECT"
            [ ! -d "{HOME}/senpro/520644/modul02/senpro-520644-modul02" ] && 
            {
              echo "Folder PROJECT tidak ditemukan, membuat folder PROJECT";
              mkdir -p ~/senpro/520644/modul02/senpro-520644-modul02;
              cd ~/senpro/520644/modul02;
              git clone https://github.com/520644/senpro-520644-modul02.git
              cd senpro-520644-modul02;
              npm i;
              npm run build;
            } || 
            {
              echo "Folder sudah ada ";
              cd ~/senpro/520644/modul02/senpro-520644
              git restore .;
              git pull origin main;
              echo "Install Packagee dan build aplikasi";
              npm i;
              npm run build;
            }